<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Geocoder
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


   <!--
      Handle switching between the different form types (and
      change the text displayed within the button) by calling
      the filterForm method from the component class
   -->
   <button
      ion-button
      block
      color="secondary"
      (click)="filterForm()">{{ filter }}</button>



   <!--
      Conditionally display the address based Geocoding form
      and implement the Angular FormBuilder form object (defined in the
      component class) to handle validating the single form field
   -->
   <form
      *ngIf="displayForward"
      [formGroup]="form"
      (ngSubmit)="performForwardGeocoding(form.value)">
      <ion-list>
         <ion-item margin-bottom>
            <ion-label>Location</ion-label>
            <ion-input
               type="text"
               formControlName="keyword"></ion-input>
         </ion-item>


         <ion-item margin-bottom>
            <button
               ion-button
               color="primary"
               text-center
               block
               [disabled]="!form.valid">Geocode this location</button>
         </ion-item>

      </ion-list>
   </form>



   <!--
      Conditionally display the latitude/longitude based Geocoding form
      and implement the Angular FormBuilder form object (defined in the
      component class) to handle validating the 2 form fields
   -->
   <form
      *ngIf="displayReverse"
      [formGroup]="geoForm"
      (ngSubmit)="performReverseGeocoding(geoForm.value)">
      <ion-list>
         <ion-item margin-bottom>
            <ion-label>Latitude</ion-label>
            <ion-input
               type="text"
               formControlName="latitude"></ion-input>
         </ion-item>


         <ion-item margin-bottom>
            <ion-label>Longitude</ion-label>
            <ion-input
               type="text"
               formControlName="longitude"></ion-input>
         </ion-item>


         <ion-item margin-bottom>
            <button
               ion-button
               color="primary"
               text-center
               block
               [disabled]="!geoForm.valid">Geocode this location</button>
         </ion-item>

      </ion-list>
   </form>



   <!--
      Conditionally display the geocoding results
   -->
   <section *ngIf="geocoded">
      {{ results }}
   </section>

</ion-content>
